@{
    ViewData["Title"] = "Administrator Management";
    Layout = "_AdminLayout";
}
<h1>Admin Control:</h1>
<a class="btn btn-primary" asp-action="Booking" asp-controller="Admin" role="button">Booking Management</a>
<br />
<br />
<a class="btn btn-primary" asp-action="Feedback" asp-controller="Admin" role="button">Feedback Management</a>
<br />
<br />
<a class="btn btn-primary" asp-action="Account" asp-controller="Admin" role="button">Account Management</a>


