@model UserAccount
@{
    ViewData["Title"] = "Home";
    Layout = "_PanelLayout";
}
<p> Account Detail </p>
<p>Email Address: @Model.EmailAddress</p>
<p>Name:  @Model.Name</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Password: @Model.Password</p>
