
@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}

<h4 class="display-4">Get Help Fast</h4>
<br>
<div class="form-group">
    <div class="peers ai-c jc-sb fxw-nw">
        <div class="peer">
            <h6>Some description about this service</h6>
            <p><a class="btn btn-primary" asp-action="Index" asp-controller="Admin" role="button">Admin</a></p>
        </div>
        <div class="peer">
            <p><a class="btn btn-primary" asp-action="Login" role="button">Login</a></p>
            <p><a class="btn btn-primary" asp-action="Register" role="button">Register</a></p>

        </div>
    </div>
</div>



