<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetHelpFast | @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />

    <!-- STYLES -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/site/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body class="app">
    @RenderBody()
    <script type="text/javascript" src="~/site/vendor.js"></script>
    <script type="text/javascript" src="~/site/bundle.js"></script>
</body>
</html>
