<div class="col-md-3">
    <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <!-- CREATE BOOKING -->
        <div class="border-bottom p-20">
            <div class="osahan-user text-center">
                <div class="osahan-user-media">
                    <div class="osahan-user-media-body ">
                        <a asp-action="CreateBooking" class="nav-link" id="orders-tab">Create Booking</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- LIST OF BOOKING -->
        <div class="border-bottom p-20">
            <div class="osahan-user text-center">
                <div class="osahan-user-media">
                    <div class="osahan-user-media-body ">
                        <a asp-action="Index" class="nav-link" id="orders-tab">List of Booking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
